/* @font-face {
    font-family: 'Gidugu';
    src: url('/fonts/Gidugu-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.font-gidugu {
    font-family: 'Gidugu', sans-serif;
    font-weight: normal;
} */
